
body {
    background-color: #000000; /* fundo preto */
    font-family: Calibri;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 10px;
}

h2 {
    color: #01743A;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #111111;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 15px rgba(1, 116, 58, 0.5);
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 2px solid #01743A;
    border-radius: 5px;
    background-color: #222222;
    color: #ffffff;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #00FF7F;
    outline: none;
}

form div button {
    display: block;
    margin: 0 auto;
}

img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}



button {
    width: 65%;
    padding: 10px;
    background-color: #01743A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #01743A;
}

a {
    color: #01743A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




