<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Beacons</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
</head>
<body>
<header>
    <a th:href="@{/home}" class="home-btn">🏠</a>
</header>
<h2>Lista de Beacons</h2>


<p th:if="${success}" th:text="${success}" style="color:green; font-weight:bold;"></p>
<p th:if="${error}" th:text="${error}" style="color:red; font-weight:bold;"></p>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <p th:if="${errorList}" th:text="${errorList}" style="color:green; font-weight:bold;"></p>
        <tr th:each="beacon : ${beacons}">
            <td th:text="${beacon.beaconCode}"></td>
            <td th:text="${beacon.beaconStatus}"></td>
            <td>
                <button type="button" class="action-btn" title="Editar Status"
                        th:attr="onclick=|openEditModal('${beacon.id}', '${beacon.beaconStatus}')|">✏️</button>

                <button type="button" class="action-btn" title="Excluir"
                        th:attr="onclick=|openDeleteModal('${beacon.id}')|">🗑️</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>


<a class="back-link" th:href="@{/beacons/register}">➕ Cadastrar novo beacon</a>



<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h3>Confirmar Exclusão</h3>
        <p>Tem certeza que deseja excluir este beacon?</p>
        <form th:action="@{/beacons/delete}" method="post">
            <input type="hidden" name="id" id="deleteId">
            <div class="modal-buttons-container">
                <button type="submit" class="modal-btn delete-btn">Excluir</button>
                <button type="button" class="modal-btn cancel-btn" onclick="closeDeleteModal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>


<div id="editModal" class="modal">
    <div class="modal-content">
        <h3>Atualizar Status do Beacon</h3>
        <form th:action="@{/beacons/updateStatus}" method="post">
            <input type="hidden" name="id" id="editId">

            <div class="form-group">
                <select name="beaconStatus" id="editStatus" class="modal-select">
                    <option value="ATIVO">ATIVO</option>
                    <option value="INATIVO">INATIVO</option>
                </select>
            </div>

            <div class="modal-buttons-container">
                <button type="submit" class="modal-btn confirm-btn">Salvar</button>
                <button type="button" class="modal-btn cancel-btn" onclick="closeEditModal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>


<script>
    function openDeleteModal(id) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteModal").style.display = "flex";
    }
    function closeDeleteModal() {
        document.getElementById("deleteModal").style.display = "none";
    }
    function openEditModal(id, status) {
        document.getElementById("editId").value = id;
        document.getElementById("editStatus").value = status;
        document.getElementById("editModal").style.display = "flex";
    }
    function closeEditModal() {
        document.getElementById("editModal").style.display = "none";
    }
</script>

</body>
</html>
